replicaCount: 1

image:
  repository: postgres
  pullPolicy: IfNotPresent
  tag: "15.2"

namespace: "home-rp"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "keycloakdb"

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: NodePort
  port: 5432

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}

postgres_opt:
  postgresqlUsername: "dXNlcl9zdG9yYWdl"
  postgresqlPassword: "dXNlcl9zdG9yYWdl"
  postgresqlDatabase: "keycloakdb"
  postgresqlHost: "keycloakdb"
  postgresqlPort: "5432"
