apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloakdb.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "keycloakdb.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      name: http
  selector:
    {{- include "keycloakdb.selectorLabels" . | nindent 4 }}
